<%- include ('layouts/header') %>

<main class="container">
    <button class="btn btn-primary mt-lg" id="people">People</button>
    <button class="btn btn-primary mt-lg" id="planets">Planets</button>
    <section class="starwars_result mt-lg">

    </section>
    <button class="btn btn-primary mt-lg" id="prev" data-value="" disabled><< Prev</button>
    <button class="btn btn-primary mt-lg" id="viewAll"  data-value="" disabled>View All</button>
    <button class="btn btn-primary mt-lg" id="next"  data-value="" disabled>Next >></button>

</main>

<%- include ('layouts/footer') %>